body {
  font-family: "Pretendard Variable";
}

nav {
  display: flex;
  align-items: center;

  padding: 0 120px;
  gap: 40px;
  height: 100px;
}

.navItem:hover {
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 120px;
}

.left {
  display: flex;
  flex-direction: column;
}

.badge {
  padding: 12px 24px;
  border-radius: 10px;
  background: #fff27b;
  width: fit-content;
  margin-bottom: 40px;

  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

header h1 {
  color: #333;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1.28px;
  margin: 0; /* user agent stylesheet 조정 */
}

.header-text {
  display: flex;
}

.header-text span {
  font-weight: 1000;
  animation: wave 1.5s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes wave {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.header-text span:nth-child(1) {
  animation-delay: 0.1s;
}
.header-text span:nth-child(2) {
  animation-delay: 0.13s;
}
.header-text span:nth-child(3) {
  animation-delay: 0.16s;
}
.header-text span:nth-child(4) {
  animation-delay: 0.19s;
}
.header-text span:nth-child(5) {
  animation-delay: 0.22s;
}

header h1 p {
  background: linear-gradient(
    99deg,
    #8f2b00 3.58%,
    rgba(255, 168, 36, 0.5) 90.34%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.headerLinkContainer {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.headerLinkL {
  background-color: #ffd37b;
  border: 4px solid #ffd37b;
  border-radius: 16px;
  padding: 24px 40px;
  width: 270px;

  display: block;
  text-align: center;

  color: black;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  text-decoration: none;
}

.headerLinkR {
  background-color: white;
  border: 4px solid black;
  border-radius: 16px;
  padding: 24px 40px;
  width: 269px;

  display: block;
  text-align: center;

  color: #403930;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  text-decoration: none;
}

.right {
}

.image {
  width: 350px;
  height: auto;
  border: 15px solid #f5caa2;
  border-radius: 500px;
}

img {
  width: 355.624px;
  height: 350px;
}

.grad {
  display: flex;
  flex-direction: column;
  height: 350px;
  min-width: 460px;
  padding: 100px 120px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  background: linear-gradient(
    96deg,
    rgba(189, 210, 255, 0.4) 1.72%,
    rgba(255, 234, 126, 0.4) 158.93%
  );
}

.about {
  position: relative;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.8px;
}

.rocket {
  position: absolute;
  left: 700px;
  top: -60px;

  width: 119px;
  height: 119px;
}

.me {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  margin-top: 20px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 165px;
  height: 88px;
  z-index: 1000;

  border-radius: 50px;
  border: 5px solid #ffd37b;
  background: linear-gradient(
    98deg,
    #fa998b -10.83%,
    #eaffbd 51.79%,
    #ffca41 110.76%,
    #f4bb27 110.76%
  );

  color: rgba(64, 57, 48, 0.8);

  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a {
  text-decoration: none;
}

.stackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stackDiv {
  display: flex;
  padding: 100px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.stack {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 65% */
  letter-spacing: -0.8px;
  margin-bottom: 24px;
}

.stackAbout {
  color: #333;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  margin-bottom: 80px;
}

.imgDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 70%;
}

.imgT {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.st {
  width: 120px;
  height: 120px;
}

.projectDiv {
  display: flex;
  flex-direction: column;
  padding: 80px 120px 120px 120px;
  justify-content: center;
  /* align-items: center; */

  background: rgba(244, 244, 244, 0.5);
}

.projectTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;

  color: #403930;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 50px */
  letter-spacing: -0.8px;
}

.project {
  display: flex;
  padding: 0 140px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  justify-content: space-between;
  height: 350px;
  min-width: 1000px;
  border-radius: 24px;
  background: rgba(255, 242, 123, 0.55);

  margin-top: 32px;
}

.projectTextWrap {
  display: flex;
  min-width: 437px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.projectTextWrap span {
  color: #403930;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.projectTextWrap p {
  color: #403930;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.projectImg {
  display: flex;
}

.projectTextWrap div a {
  color: #00446a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  text-decoration-line: underline;
}

.peerDiv {
  display: flex;
  height: 609px;
  padding: 80px 0px 120px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.peerTitle {
  color: #403930;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  letter-spacing: -0.8px;
}

.peerReviewDiv {
  display: flex;
  /* align-items: flex-start; */
  gap: 40px;
  width: 80%;
  margin-top: 60px;

  /* width: 90%; */
  overflow-x: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.peerReviewDiv::-webkit-scrollbar {
  display: none;
}

.peerReview {
  display: flex;
  min-width: 460px;
  height: 264px;
  padding: 0px 39px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-radius: 10px;
  background: #fafafa;
  /* box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15); */
}

.peerRe {
  color: #403930;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.peer {
  color: #403930;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 125% */
}

.aspiration {
  display: flex;
  height: 350px;
  padding: 64px 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: rgba(255, 242, 123, 0.55);
}

.astitle {
  color: #403930;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 60px */
  letter-spacing: -0.96px;
  word-break: keep-all;
  word-wrap: break-word;
  min-width: 460px;
}

footer {
  height: 182px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.contactDiv {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}

footer div img {
  width: 30px;
  height: 30px;
}

.copyright {
  color: var(--Dark, #21243d);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
